
# Core requirements for auto-arch-diagram
pyyaml
requests
diagrams
graphviz
python-hcl2
boto3
botocore
pytest
colorama
iniconfig
packaging
pikepdf
lark
pre_commit
pluggy
virtualenv
filelock
identify
isodate
rsa
s3transfer
typing_extensions
azure-common
azure-core
azure-mgmt-core
azure-mgmt-resource
google-api-core
google-auth
google-cloud-billing
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
proto-plus
protobuf
